argo-cd:
  server:
    extraArgs:
      - --insecure

    ingress:
      enabled: true
      ingressClassName: haproxy
      hostname: argo.kamuridesu.com

  configs:
    cm:
      url: "https://argo.kamuridesu.com"
      oidc.config: |
        name: Keycloak
        issuer: https://keycloak.kamuridesu.com/realms/kamuservices
        clientID: argocd
        clientSecret: $oidc.keycloak.clientSecret
        requestedScopes: ["openid", "profile", "email", "groups"]

    rbac:
      policy.default: role:readonly
      policy.csv: |
        g, /ArgoCDAdmins, role:admin
